.currency {
    padding: 0;
    list-style-type: none;
    width: 250px;
    height: auto;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
}

span {
    font-size: 20px;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}

.headers {
    display: flex;
    justify-content: center;
}

#name, #value {
    background-color: white;
    color: black;
    border: 2px solid black;
}