* {
    margin: 0;
    padding: 0;
    color: red;
    box-sizing: border-box;
}

img {
    object-fit: cover;
    width: 100%;
}

li {
    width: 20vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

body {
    display: flex;
    justify-content: center;
    background: url(https://i.pinimg.com/originals/73/a1/ee/73a1ee002450c501d0895974c010ba50.jpg);
}

input {
    margin: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.ship {
    color: deepskyblue;
}

button, h3 {
    margin: 5px 10px;
    color: darkviolet;
}

span {
    padding: 5px 10px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}
  
.visible {
visibility: visible;
opacity: 1;
transition: opacity 3s linear;
}

.hidden {
visibility: hidden;
opacity: 0;
transition: visibility 0s 2s, opacity 2s linear;
}