button {
    margin: 10px 5px;
    padding: 5px;
    background-color: blue;
    color: white;
    border: 2px solid navy;
    border-radius: 5px;
}
.circleBox {
    display: flex;
    flex-wrap: wrap;
}
.circle {
    border-radius: 50%;
}