header {
    background-color: indigo;
    display: flex;
    width: 100%;
    color: khaki;
}

div a img {
    height: 93px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

ul {
    margin: 0;
    display: inherit;
    justify-content: flex-end;
}

li {
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    padding: 0 15px;
    
}

li:hover {
    background-color: ivory;
    color: indigo;
}

.nav-1,
.nav-2 {
    display: inherit;
    width: 100%;
    height: 42px;
    justify-content: flex-end;
    align-items: center;
}
.table-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table,
.ingredients {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.table {
    position: relative;
}

.table-wrapper div img {
    width: 100%;
}

.ingredients h2 {
    width: 100%;
    text-align: center;
}
.ingredients div {
    display: inline-block;
    width: 30%;
}

.ingredients div img {
    height: 100px;
}

.starting {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.size {
    display: flex;
    justify-content: flex-start;
}

.size-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size li {
    display: flex;
}

.new {
    max-height: 50px;
    font-size: 21px;
    font-weight: bold;
}

.dropped {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}

.banner {
    position: absolute;
    left: 25%;
    top: 1.5%;
    z-index: 100;
    background-color: limegreen;
    background-image: url('https://2.bp.blogspot.com/_cadI18MG4K4/TSs-4P3Mg9I/AAAAAAAAAPs/1L3I7_9PM6w/s1600/laughing.smileface2.gif');
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    width: 380px;
    height: 80px;
    border: 2px solid darkgreen;
    transition: 0.1s;
}

.error {
    border: 1px solid red;
    background-color: #fc6363;
}
.valid {
    border: 1px solid green;
    background-color: #81e569;
}

form {
    background-color: indigo;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.info {
    min-width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: wheat;
}

[class^='info_'] {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.pizzaInfo {
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    min-width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: wheat;
}

.pizzaInfo input {
    background-color: inherit;
    border: none;
    font-weight: 700;
    font-size: 14px;
    align-self: flex-end;
}

.ingr-menu {
    display: flex;
    column-gap: 10px;
}

.ingr-wrapper {
    display: flex;
    flex-direction: column;
}
