* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornflowerblue;
}

.wrapper {
    width: 1024px;
    height: 576px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

img {
    display: block;
    object-fit: cover;
    max-width: 1024px;
    max-height: 576px;
}

#slider {
    position: absolute;
    display: flex;
    transition: 1s;
}

.slide {
    list-style: none;
    display: inline-block;
}

#next, #previous {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    line-height: 576px;
    height: 576px;
    width: 10%;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

#next {
    right: 0;
}

#next:hover, #previous:hover {
    opacity: 0.9;
}