* {
    margin: 0;
    padding: 0;
}

span {
    order: 3;
    padding: 5px 10px;;
}

.name {
    order: 1;
}

.residents {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    color: white;
}

.item {
    border: 1px solid black;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.planets {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fbfbfb url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
}
  
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}