* {
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
    width: 100%;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

body {
    display: flex;
    justify-content: center;
    background-color: orange;
}

input {
    margin: 10px;
}

.header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty {
    display: flex;
    justify-content: center;
}

.score {
    display: flex;
    width: 100%;
}

.gameStart {
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    flex: 1;
}

.diff-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

#mainTable {
    border: 5px solid black;
}

.hole {
    width: 50px;
    height: 50px;
    background-color: rgb(82, 38, 17);
}

output {
    flex: 1;
    font-size: 28px;
}

#failed {
    text-align: right;
}