* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interface {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start {
    width: 100px;
    background-color: saddlebrown;
    border: 2px solid black;
    padding: 5px 10px;
    margin: 10px;
    transition: 0.3s;
}

.tank, .cannonBall {
    display: none;
    background-color: black;
    border: 1px solid rgba(255,255,255, 0.05);
    padding: 0 0 0 1px;
}

.cannonBall img {
    display: block;
    margin: 20% auto;
    width: 60%;
    height: 60%;
}

.main img {
    transform: rotate(180deg);
}

.tank {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

img {
    width: 100%;
    height: 100%;
}

h2, h3 {
    padding: 0 10px;
}

.cliff {
    background-color: #fff;
}

.start:hover {
    border: 2px solid darkkhaki;
    color: darkkhaki;
}

.battlefield {
    width: 45vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
    overflow: hidden;
}

.square {
    border: 1px solid rgba(255,255,255, 0.05);
    background-color: black;
    width: auto;
    height: auto; 
}