.field {
    display: flex;
    flex-wrap: wrap;
}
.square {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bomb {
    display: none;
    width: 100%;
    height: 100%;
}

.square span {
    line-height: 1.8;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    display: none;
}

.flag {
    width: 100%;
    height: 100%; 
}